[defaults]
inventory = inventory/production.ini
remote_user = ubuntu
private_key_file = ~/.ssh/proxmox_terraform

host_key_checking = False
retry_files_enabled = False

forks = 10
timeout = 10

roles_path = roles
collections_path = collections
ask-vault-pass = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s